# Framework Execution Config
ENV=dev
SCENARIO=sample_request_smoke_test

# Authentication & URLs
BASE_URL=http://localhost:3333
TOKEN=mock-access-token-12345

# Custom App Variables (Add yours here)
MY_CUSTOM_VAR=value

# Reporting 
REPORT_ONLY=false

# Environment-specific Configurations
BASE_URL_DEV=http://localhost:3333
TOKEN_DEV=mock-access-token-12345

BASE_URL_STG=https://stg-api.pulse-project.com
TOKEN_STG=stg-token-998877

BASE_URL_PROD=https://api.pulse-project.com
TOKEN_PROD=prod-token-super-secure
